@media screen and (max-width: 500px) {
	.col-md-4 {
		width: 95%;
		max-height: 85%;
		
	}
}

.social {
	padding: 20px;
	margin: 0px;
	float: right;
}
.social:hover{
	color: lightgray;
	}
.list-group{
	margin: 0px;
	text-align: left;
	font-weight: bold;
}



