@media screen and (max-width: 1000px) {
	.col-md-4{
		width: 50%;
		
	}
}
@media screen and (max-width: 600px) {
	.col-md-4 {
		width: 75%;		
	}
}



.social {
	padding: 20px;
	margin: 0px;
	float: right;
}
.social:hover{
	color: lightgray;
	}
.list-group{
	margin: 0px;
	text-align: left;
	/*font-weight: bold;*/
}
body{
	color: #808b9c;
}
a{
	color: #808b9c;
}

.list-group-item{
	background-color: transparent;
	border:none;
	/*border-bottom: 1px solid #808b9c;*/
}
.list-group-item:hover{
	background-color: #36454F;	
}

a:hover { 
    background-color: white;
    color: white;
    text-decoration: none;
}
/*a:visited {
	text-decoration: none;
	color: white;
}*/

button{
	border-radius: 1px;
}



